Binaries
DerivedDataCache
Intermediate
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
brainserver/node_modules
Saved/Logs
Saved/Crashes
Saved/EditorCooked
Saved/Backup
Saved/Autosaves
Saved/Config/CrashReportClient